<html><head>
<style type="text/css">{  }
body         { font-style: normal; font-variant: normal; font-weight: normal; font-size: 8pt; 
               font-family: Verdana, Arial ;  color: white; 
               scrollbar-face-color: #5A5A5A; 
               scrollbar-shadow-color: #5A5A5A; 
               scrollbar-highlight-color: #ffffff; 
               scrollbar-3dlight-color: #5A5A5A; 
               scrollbar-darkshadow-color: #5A5A5A; 
               scrollbar-track-color: #5A5A5A 
               scrollbar-arrow-color: #5A5A5A; }

<title>Myanmar Actor Shwe Thwe : Myanmar Movie Stars : Myanmar Film Stars : Myanmar (Burma)</title>
<meta name="description" content="Myanmar Actor Shwe Thwe : Myanmar Movie Stars : Myanmar Film Stars : Myanmar (Burma)">
<meta name="keywords" content="myanmar, burma, shwe thwe, shwethwe, myanmar actors, myanmar movies, myanmar dvd movies, myanmar dvd video, myanmar movie store, myanmar video store, myanmar video production, myanmar movie images, myanmar movie photos, myanmar movie pictures, myanmar movie poster, myanmar movie posters, myanmar film festival, myanmar film festivals, myanmar film review, myanmar film stars, myanmar film music, myanmar movie news, myanmar movie pictures, myanmar movie production photos, myanmar movie review, myanmar movie stars, myanmar video, myanmar videos, myanmar acting auditions, myanmar acting classes, myanmar acting jobs, myanmar acting school, myanmar acting schools, myanmar actores, myanmar actors headshots, myanmar acting agencies, myanmar acting auditions, myanmar acting books, myanmar acting career, myanmar acting career news, myanmar actor poster, myanmar actor wallpapers, myanmar actor pictures, shwethwe pictures, shwethwe wallpapers, shwethwe poster">
 <style type="text/css">{  }
body         { font-style: normal; font-variant: normal; font-weight: normal; font-size: 10pt; 
               font-family: Trebuchet MS, Verdana, Arial; color: white }
TD, P, LI {C; font-style:normal; font-variant:normal; font-weight:normal; font-size:10pt; font-family:Verdana, Arial }

h1           { font-size: 30pt; color: #FF0000; font-weight: bold }
H2 { font-size: 16pt; font-weight: bold; color: rgb(255,0,0); background-repeat: no-repeat; line-height: 40px; font-family: Arial; font-style: italic; padding-left: 20px; background-position: left }
H3 { font-size: 12pt; font-family: Arial; color: rgb(0,0,255); background-repeat: no-repeat; line-height: 40px; font-weight: bold; font-style: italic; background-position:    left 50%;  }
H4 { font-size: 10pt; font-weight: bold; color: rgb(255,255,255); background-color: rgb(0,0,255); padding-left: 3px; padding-bottom: 1px }
h5           { font-size: 10pt; color: #000080; font-weight: bold }
H6 { font-style: normal; font-variant: normal; font-weight: bold; font-size: 10pt; 
               font-family: Trebuchet MS, Verdana, Arial; color: #800000 }

.small-text {FONT-FAMILY: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; #7A90C9}
.small-link {COLOR: #35356a; FONT-FAMILY: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: 8pt; TEXT-DECORATION: none; color: #7A90C9;}
.diff-color {	COLOR: #fdb037; FONT-FAMILY: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; TEXT-DECORATION: none}

a:link       { color: #ffffff; text-decoration:none; }
a:visited    { color: #ffffff; text-decoration:none; }
a:active     { color: #ffffff; text-decoration:none; }
a:hover      { color: #F8A300; text-decoration:none;}
-->
</style>
</head>

<body leftmargin="0" bgcolor="#FFFAE1" >

<h1>Heading 1</h1>

<h2>Heading 2</h2>

<h3>Heading 3</h3>

<h4>Heading 4</h4>

<h5>Heading 5</h5>

<p>default color of body text 

<ul>
  <li>fasfasf</li>
  <li>fasdf</li>
</ul>

</body>
</html>